*{
  padding:0px;
  margin: 0px;
}



.banner{
	height: 200px;
	background:url(https://i.gifer.com/8Xfj.gif);
	font-family: Hollow;
	color: yellow;
	font-size: 25px;
}

.menu-central{
	background: url(https://lh3.googleusercontent.com/97f4pW560-ktKrcAHg1CbASKc5d38gTri4ji5fkh3SALvoB8NeIxL8ps1YSTp6Z4cg);
}

.parte_uno{
	
	margin: 3px;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1m;
    height: 500px;

}


.tabla{
		background: url(https://i.blogs.es/687f59/pk5/450_1000.jpg);
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    height: 350px;
    margin-top: 100em;
}


.states{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.tipo{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}
.evolucion{
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.lista_sts li{

	list-style: none;
	width: 50px;
	margin: 15px;
	color: white;

}
.lista_sr li{
	list-style: none;
	width: 90px;
	margin: 15px;
	color: white;
}


.imagen{
	background: url(https://i.blogs.es/687f59/pk5/450_1000.jpg);
}
.titulos{
	background: black;
	font-size: 15px;
	color: white;
}
.color{
	background: green;
	color: white;
	width: 70px;
	border-radius: 10px;
}
.color1{
	background: purple;
	color: white;
	width: 70px;
	border-radius: 10px;
}

.fuego{
  background:#FF4319;
  width: 100px;
  border-radius: 10px;
  color: white;
}
.mente{
	background:#FF19EA;
	width: 100px;
	border-radius: 10px;
  color: white;
}
.valor{
	background:#A6DDE2;
	width: 100px;
	border-radius: 10px;
  color: white;
}
.hielo{
	background:#479BFF;
	width: 100px;
	border-radius: 10px;
  color: white;
}
.primero li{
	list-style: none;
}
.color4{
	color: white;
}